@charset "UTF-8";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Hannari", "Josefin Sans", sans-serif;
}

h2 {
  width: 100%;
}

image {
  max-width: 100%;
  height: auto;
}

#myimage {
  background-attachment: fixed;
  max-width: 100%;
  height: auto;
}

#myname {
  position: absolute;
  top: 50vh;
  color: #fff;
  margin: auto;
  text-align: center;
  left: 27.5%;
  letter-spacing: 1.5vw;
}

@media only screen and (max-width: 600px) {
  #myname {
    top: 10vh;
    left: 12.5%;
  }
}

.design {
  height: 100vh;
  display: flex;
}

.mobile {
  background-attachment: fixed;
  border: 16px#fff solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50px;
  margin: 12vh 2vw;
  max-width: 100%;
  height: auto;
}
